$kam-primary: #8AB17D;
$kam-white: white;
$kam-black: black;
$kam-red: #E76F51;
$kam-orange: #F4A261;
$kam-yellow: #E9C46A;
$kam-green: #8AB17D;
$kam-blue-200: #2A9D8F;

$kam-grey-900: #3a3a3a;
$kam-grey-800: #757575;
$kam-grey-700: #8d8d8d;
$kam-grey-600: #a4a4a4;
$kam-grey-500: #bcbcbc;
$kam-grey-400: #d3d3d3;
$kam-grey-350: #e6e6e6;
$kam-grey-300: #ebebeb;
$kam-grey-200: #f5f5f5;
